
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width:768px){
  .container {
    width: 768px;
}
} 
@media screen and (min-width:1200px){
.container {
width: 1200px;
}     
} 

.header-container {
  display: flex;
  align-items: center;
  background-color: #84A178;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .header-container {
    padding-bottom: 0px;
    align-items: baseline;
  }
}

.page {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.list {
    list-style: none;
}

    .header-mobile__logo { 
        display: none;
      }
      
    @media screen and (max-width: 767px) {
      
     .header-mobile__logo { 
            display: inline-block; 
            padding-left: 20px;
          }
      
         .header-desctop__logo {
            display:none;
         }
      } 
  
      @media screen and (min-width: 769px) and (max-width:1119px){
      
        .header-mobile__logo { 
               display: inline-block; 
               padding-left: 32px;
             }
             .header-desctop__logo {
              display:none;
           }
            }

        @media screen and (min-width: 1200px){
              .header-desctop__logo {
                padding-left: 16px;
              }
            } 
      .header__nav {
        display: none;
        }

        @media screen and (min-width: 1200px) {
          .header__nav {
            display: flex;
            align-items: center;
            margin-left: 308px;
          }
        }
      
      @media screen and (min-width: 768px){
          .site-nav {
          display: flex;
          justify-content: space-evenly;
          }
        }
           
      @media screen and(min-width: 1200px) {
          .site-nav {
          display: flex;
          }
        } 
    
       @media screen and (min-width: 768px) {
          .site-nav__item {
            margin-bottom: 10px;
          }
        } 

       .site-nav__item:last-child {
            margin-bottom: 0;
        }

      @media screen and (min-width: 1200px) {
          .site-nav__item {
            margin-right: 28px;
            margin-bottom: 0; 
          }
      }
   
      .site-nav__item:last-child {
        margin-right: 0;
      } 
    
      .site-nav__link {
        display: block;
        padding-top: 32px;
        padding-bottom: 13px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        font-style: normal;
        font-family: 'Montserrat', sans-serif;
    
        color: #FCFCFC;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
    } 

    .site-nav__link:hover,
    .site-nav__link:focus {
      color: #F8D24E;
  }

.header__button {
  
  font-family: 'Montserrat', sans-serif;
  width: 152px;
  height: 42px;
  background-color:#F8D24E;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  
  border-color: transparent;
  
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;

  justify-content: center;
  border-radius: 6px;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.header__button:hover{
  -webkit-transform: rotate(180deg);
  transform: rotate(360deg);
}

.header__button::after {
  content: url("../img/ep_arrow-right-bold\ \(1\).svg");
  width: 12px;
  height: 12px;
  background-size: contain;
  margin-left: 4px;

}
  .site-nav__button {
    display: none;
  }

  @media screen and (min-width:768px){
    .site-nav__button {
     display: flex;
  
     align-items: flex-start;
     margin-left: auto;
     margin-right: 0px;

}
} 
@media screen and (min-width:1200px){
  .site-nav__button {
  display: block;
  margin-left: auto;
}     
} 

.header__content {
  display: flex;
  gap: 32px;
  margin-left: auto;
}

.menu-open-btn {
  padding-top: 10px;
  background-color: transparent;
  border-color: transparent;
  fill: #FCFCFC;
  padding-right: 20px;
}

@media screen and (min-width:767px) {
  .menu-open-btn {
    margin-left: auto;
}

} 
@media screen and (min-width:768px){
  .menu-open-btn {
   display: block;
}

} 
@media screen and (min-width:1200px){
  .menu-open-btn {
  display: none;
}     
} 

.mob-menu {
  position: fixed;
  display: block;
  top: 0;
  background-color: #84A178;
  width: 100vw;
  height: 100vh; 
  z-index: 1;
  
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.mob-menu .mob-container {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

@media screen and (min-width:480px) and (max-width:767px) {
  .mob-menu .mob-container {
    height: 100%;
  }
}

.mob-menu.is-open {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.mob-menu-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  fill:#FCFCFC;
  padding-top: 16px;
  padding-right: 20px;
 
}

.mob-menu-close-btn:hover,
.mob-menu-close-btn:focus {
  fill: #131313;
}

.mob-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-bottom: 110px;
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21;
  letter-spacing: 0.02em;
 color: #FCFCFC;
}

@media screen and (min-width:480px){
  .mob-nav__link {
    font-size: 40px;
}
} 

.mob-nav__link:hover,
.mob-nav__link:focus {
  color: #131313;
}


.mob-nav__link--current {
  position: relative;
  color: #131313;
}

.header-mob__button {
  margin-bottom: 64px;
}
  
@media screen and (min-width:768px){
  .header-mob__button {
   display: none;
}
}

.mob__logo {
  padding-top: 20px;
  padding-left: 32px;
}

@media screen and (min-width:768px){
  .mob-menu__top {
   padding-top: 140px;
}
}