.page {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    color: var(--color-black);

    letter-spacing: 0.04em;
}

.link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.list {
    list-style: none;
}
