.root {
    --font-accent: 'Seymour One', sans-serif;
    --bcg-primary:#84A178;
    --bcg-second: #817C7C;
    --bcg-third: #AEC6A5;
    --bcg-fourth: #9CBE8F;
    --bcg-fon: #D9D9D9;
    --color-yellow: #F8D24E;
    --second-yellow: #EFD478;
    --color-black: #131313;
    --color-white: #FCFCFC;

}